body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  color: #f9faf8;
  max-width: 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 10px 100px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  background-color: #1f2937;
  padding: 75px 100px 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 0 10px 0;
}

.hero-img {
  width: 500px;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 100px 75px;
}

.info h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info .images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 75px;
  text-align: center;
}

.info .images img {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 8px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 100px 75px;
}

.quote .text {
  font-size: 32px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  padding: 0 150px;
}

.quote .byline {
  font-size: 24px;
  font-weight: 800;
  align-self: flex-end;
  padding: 0 150px;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 100px 75px;
}

.sign-up .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  padding: 50px 100px;
  border-radius: 8px;
  gap: 150px;
}

.sign-up h1 {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.sign-up p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.sign-up button {
  border: 2px solid #e5e7eb;
}
